.main {
    .image-test-section {
        display: inline-flex;
        overflow: hidden;

        .image-test-container {
            width: 220px;
            height: 140px;
            background-color: #444444;
            overflow: hidden;
            position: relative;
            border-radius: 16px;
            margin: 0 8px;

            .index-label {
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 4px 12px;
                background-color: rgba(100,150,200, 0.5);
                border-radius: 10px;
                width: 100px;
                color: #fff;
            }

            &.animated {
                animation-name: hahaha;
                animation-duration: 2s;
                animation-direction: normal;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;

                z-index: 100;
            }
        }
        .image-test {
            width: 100%;
        }
    }

    .another-ipa {
        width: 100px;
        height: 100px;
        background-color: orange;
    }

    .image-test-section-scrollbar-container {
        .left-button-container, .right-button-container {
            position: absolute;
            top: 50%;
        }
        .left-button-container {
            left: 0;
        }
        .right-button-container {
            right: 0;
        }

        .ScrollbarsCustom-Scroller {
        }
    }
}

.my-modal {
    border-radius: 16px;
    border: 0;

    &.animated {
        transform-origin: top left;
        animation-name: message-in-out;
        animation-duration: 2s;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes hahaha {
    0% {width: 0; opacity: 0; transform: translateY(141px)}
    50% {width: 220px; opacity: 0.6; transform: translateY(141px)}
    85% {width: 220px; opacity: 1; transform: translateY(0);}
    100% {width: 220px; opacity: 1; transform: translateY(0);}
}